.our_services_sec {
  background: url("../../images/bgimages/servicesbg.png"), rgb(0, 0, 0);
  background-position: top right;
  background-repeat: no-repeat;
  .tag_line,
  .main_title {
    color: $white;
  }
  p {
    color: $lightwhite;
    font-size: 18px;
    font-weight: 400;
    @media #{$sm} {
      font-size: 16px;
    }
  }
  .line_style {
    width: 25%;
    @media #{$sm} {
      width: 50%;
    }
  }
  .our_service_item {
    border: 1px solid $lightwhite;
    padding: 2rem 1rem;
    position: relative;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 5px;
      width: 0;
      background-color: $secondarycolor;
      transition: 0.6s cubic-bezier(0, 0, 0.3642, 1);
    }
    h3 {
      font-family: "Roboto", serif;
      color: $white;
      text-transform: capitalize;
      font-size: 22px;
      font-weight: 500;
    }
    p {
      color: $lightwhite;
      font-size: 18px;
      font-weight: 400;
      margin: 1rem 0 2rem 0;
      opacity: 0;
      transform: translateY(10px);
      transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
      @media #{$sm} {
        font-size: 16px;
      }
    }
    .arrow_style {
      background: $secondarycolor;
      color: $black;
      border-radius: 50px;
      font-size: 23px;
      padding: 0.3rem;
      cursor: pointer;
      filter: grayscale(100%);
      opacity: 0.7;
      transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
    }
    &:hover {
      &::before {
        width: 100%;
      }
      p {
        opacity: 1;
        transform: translateY(0);
      }
      .arrow_style {
        font-size: 30px;
        transform: scale(1);
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }
}
