// service details css
.service_inner_detail_sec {
  background: url("../../images/bgimages/servicedetailbg.png"),
    url("../../images/services/servicedetailbgimg.png");
  background-position: top right, center;
  background-repeat: no-repeat;
  background-size: auto, cover;
  .tag_line,
  .main_title {
    color: $white;
  }
  .line_style {
    width: 25%;
    @media #{$sm} {
      width: 50%;
    }
  }
  p {
    color: $lightwhite;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: justify;
    @media #{$sm} {
      font-size: 16px;
    }
    &:last-child {
      margin: 0;
    }
  }
  figure {
    height: 450px;
    overflow: hidden;
    .image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

// highlights css

.highlights_sec {
  background: url("../../images/bgimages/highlightsbg1.png"),
    url("../../images/bgimages/highlightsbg2.png");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  .header_wrape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$sm} {
      display: block;
    }
    .arrows_wrape {
      @media #{$sm} {
        text-align: end;
        margin-bottom: 2rem;
      }
      .slider_custom_arrows {
        color: $black;
        border: 1px solid $black;
        border-radius: 50px;
        padding: 0.46rem 0.5rem;
        margin: 0;
        background: transparent;
        &:hover {
          color: $white;
          background: $secondarycolor;
          border: 1px solid $secondarycolor;
        }
        &:disabled {
          color: $lightblack;
          border: 1px solid $lightblack;
        }
      }
    }
  }

  figure {
    height: 300px;
    overflow: hidden;
    .image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
